*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-color: black;
}
.container{
    display: flex;
    margin-top: 150px;
    margin-left: 60px;
    margin-right:50px;
    gap: 80px;
}
img{
    width: 650px;
    height: 1000px;
}
.texto{
    margin-top: 40;
    gap: 80px;
    color: brown;
}